<!DOCTYPE html>
<html>
<head lang="{{__ 'langCode'}}">
	<title>T3MPL Server</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
	<link rel="stylesheet" href="static/style.css" />
	<link rel="shortcut icon" href="static/favicon.ico" />
</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<h1>
					T3MPL Server
					<sup>0.4.0</sup>
				</h1>
			</div>
			{{#if common.isAuthorized}}
			<div class="session">
				<strong class="user-name">{{common.userName}}</strong>
				<a href="{{common.logoutUrl}}" class="btn">{{__ 'header.logout'}}</a>
			</div>
			{{/if}}
		</div>
	</header>

	{{{body}}}

	<footer>
		Powered by <a href="https://t3mpl.n4no.com/">T3MPL</a>
	</footer>
</body>
</html>
